@import '../../styles/settings';
.invoiceStatus{
        padding: 1em;
        border-radius: 6px;
        width: fit-content;
        @include md{
            grid-column: 2/2;
            grid-row: 2/4;
            margin-left: auto;
        }
        .bullet{
            padding-right: 0.4em;
        }
        &.pending{
            background-color: lighten(#ff8f00, 40%);
            color: #ff8f00
        }
        &.paid{
            background-color: lighten(#33D69F, 40%);
            color: #33D69F;
        }
    }