@import "../../styles/settings";

.container {
    //min-width: 100%;
    // padding: 1em;
    background-color: #F9FAFE;
    grid-column: 1/4;
    border-radius: 15px;
}

.header {
    color: $sub-font-color;
    font-size: 0.8em;
    text-align: right;
    &:first-child{
        text-align: left;
    }
}
.tbody {
    padding: 1em;
    width: 100%;
}
.data{
    text-align: right;
    font-weight: bold;
    &:first-child{text-align: left;
    }
    &:nth-child(2){
        color: $sub-font-color;
    }
    &:nth-child(3){
        color: $sub-font-color;
    }
}

.footer {
    background-color: #373B53;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 0 0 15px 15px;
}