@import "../../styles/settings";

    .nav{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        align-self: flex-start;
    }
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: $component-width;
    background-color: #fff;
    padding: 1em;
    border-radius: 20px;
    .status{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        @include sm {
            width: 100%;
            justify-content: space-between;
        }
    }

    .options{
        display: flex;
        gap: 1em;
        @include sm {
            display: none;
        }
        //General Button Styles
        &>*{
            border-radius: 20px;
            border: none;
            padding: 1em;
            font-weight: bold;
        }
        .edit{
            background-color: #F9FAFE;
            color: #7E88C3;
        }
        .delete {
            background-color: #EC5757;
            color: #fff;
        }

        .markPaid {
            background-color: #7C5DFA;
            color: #fff;
        }
    }
}
.back{
    align-self: flex-start;
    &:hover{
        cursor: pointer;
    }
}