@import "../../styles/settings";

.container{
        display: none;
        gap: 1em;
        background-color: #fff;
        width: 100vw;
        padding: 1em;
        @include sm {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        //General Button Styles
        &>*{
            border-radius: 20px;
            border: none;
            padding: 1em;
            font-weight: bold;
        }
        .edit{
            background-color: #F9FAFE;
            color: #7E88C3;
        }
        .delete {
            background-color: #EC5757;
            color: #fff;
        }

        .markPaid {
            background-color: #7C5DFA;
            color: #fff;
        }
    }