@import '../../styles/settings';

.container{
    padding: 0 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include md {
        padding: 0 0.5em;
    }
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.addInvoice {
    padding: 1em;
    border: none;
    border-radius: 24px;
    background-color:$primary-color;
    color: #fff;
    font-weight: bold;
}