$primary-font: "Spartan", sans-serif;
// Colors
$light-background: #f8f8f8;
$dark-background: #141625;
$dark-nav: #1e2139;
$light-nav: #373b53;
$primary-color: #7c5dfa;
$secondary-color: #9277ff;
$light-component: #ffffff;
$dark-component: #1e2139;
$light-gray: #dfe3fa;
$sub-font-color: #7e88c3;
$red: #ec5757;

$component-width: 800px;
// Media Queries

@mixin md {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: 400px) {
    @content;
  }
}